<nav aria-label="Page navigation example">
    <ul class="pagination pagination-template d-flex justify-content-center">
        <li class="step-links">
    {% if page_obj.paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="?q={{link_query}}&page=1">&laquo; first</a>
            <a href="?q={{link_query}}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?q={{link_query}}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?q={{link_query}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        {% endif %}
    </li>
    </ul>
</nav>
