<div class="container">
    <header>
        <h3 class="ml-3">Search the blog</h3>
    </header>
    <form method='GET' class="form-inline ml-4" action="{% url 'index' %}">
          <div class="form-row align-items-center">

        <input type="text" class="form-control" name="q" value="{{ query|escape }}" placeholder="Search posts"/>
            <div class="col-auto mt-2">
                <button type="submit" class="btn btn-primary mb-2"> Search</button>
            </div>
          </div>
    </form>
{% if query %}
    {% if results %}
        <div class="media container">

            <ul class="content list-group container">
                {% for item in page_obj %}
                    <li class="list-group-item">
                        <strong>{{ item.title|safe }}</strong>
                        <div class="media-body">
                            {{ item.description|safe|truncatewords:75 }}
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>

    {% else %}
        <p>Query returned no results.</p>
    {% endif %}
{% endif %}
</div>